footer.main-footer
  .container
    .row
      .col-md-auto.picture
        img(src='https://prolactin-info.ru/img/pics/logo.png', alt='phizer')
      .col-md-9.text
        | &Scy;&acy;&jcy;&tcy; &scy;&ocy;&zcy;&dcy;&acy;&ncy; &mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ocy;&jcy; &fcy;&acy;&rcy;&mcy;&acy;&tscy;&iecy;&vcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&iecy;&jcy; Pfizer. &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy;, &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &ncy;&acy;&nbsp;&dcy;&acy;&ncy;&ncy;&ocy;&mcy; &scy;&acy;&jcy;&tcy;&iecy;, &ncy;&iecy;&nbsp;&dcy;&ocy;&lcy;&zhcy;&ncy;&acy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy; &dcy;&lcy;&yacy;&nbsp;&scy;&acy;&mcy;&ocy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&scy;&tcy;&icy;&kcy;&icy; &icy;&nbsp;&lcy;&iecy;&chcy;&iecy;&ncy;&icy;&yacy; &icy;&nbsp;&ncy;&iecy;&nbsp;&mcy;&ocy;&zhcy;&iecy;&tcy; &scy;&lcy;&ucy;&zhcy;&icy;&tcy;&softcy; &zcy;&acy;&mcy;&iecy;&ncy;&ocy;&jcy; &ocy;&chcy;&ncy;&ocy;&jcy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&icy; &vcy;&rcy;&acy;&chcy;&acy;. 
        br
        br
        | &Acy;&dcy;&rcy;&iecy;&scy; &Ocy;&Ocy;&Ocy;&nbsp;&laquo;&Pcy;&fcy;&acy;&jcy;&zcy;&iecy;&rcy; &Icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&icy;&raquo;: 123112 &Mcy;&ocy;&scy;&kcy;&vcy;&acy;, &Pcy;&rcy;&iecy;&scy;&ncy;&iecy;&ncy;&scy;&kcy;&acy;&yacy;&nbsp;&Ncy;&acy;&bcy;&iecy;&rcy;&iecy;&zhcy;&ncy;&acy;&yacy;, &dcy;.&nbsp;10. 
        br
        |                     &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;:&nbsp; 
        a(href='tel:84952875000') (495)&nbsp;287&nbsp;50&nbsp;00
        |  &Fcy;&acy;&kcy;&scy;:&nbsp; 
        a(href='tel:84952875300') (495)&nbsp;287&nbsp;53&nbsp;00
        br
        | www.pfizer.ru 
        br
        br
        div PP-DOS-RUS-0105 &mdash; 13.04.2018
          br
          a(href='https://prolactin-info.ru/eula.php') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
          |  &bull;
          a(href='https://prolactin-info.ru/privacy-policy.php') &Pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
        br