header.main
  .container
    .row
      .col-md-auto.left-nav-data
        .burger_icon
          span
          span
        .burger_menu
          nav.first_layer
            a(href='/cycle-violation/') &Ncy;&acy;&rcy;&ucy;&shcy;&iecy;&ncy;&icy;&iecy; &tscy;&icy;&kcy;&lcy;&acy;
            a(href='/pregnancy/') &Pcy;&lcy;&acy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &bcy;&iecy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy;
            a(href='/breastfeeding/') &Pcy;&rcy;&iecy;&kcy;&rcy;&acy;&shchcy;&iecy;&ncy;&icy;&iecy; &lcy;&acy;&kcy;&tcy;&acy;&tscy;&icy;&icy;
            a(href='/prolactine/') &Ocy; &pcy;&rcy;&ocy;&lcy;&acy;&kcy;&tcy;&icy;&ncy;&iecy;
          nav.second_layer
            a(href='/articles/') &scy;&tcy;&acy;&tcy;&softcy;&icy;
            a(href='/articles/men/') &mcy;&ucy;&zhcy;&chcy;&icy;&ncy;&acy;&mcy;
            a(href='/test/') &pcy;&rcy;&ocy;&jcy;&tcy;&icy; &tcy;&iecy;&scy;&tcy;
          a.medical-centers.not_background(href='/map/') &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&scy;&kcy;&icy;&iecy; &tscy;&iecy;&ncy;&tcy;&rcy;&ycy;
          .medical-pacient__wrap
            a.medical-pacient__download(href='/upload/Лечение_гиперпролактинемии_на_ДОСТИНЕКС.pdf', download='')
              | &Pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;
              svg.svg-pacient(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13px', height='12px')
                path(fill-rule='evenodd', fill='rgb(107, 179, 111)', d='M-0.000,12.000 L-0.000,11.000 L13.000,11.000 L13.000,12.000 L-0.000,12.000 ZM2.008,4.778 L5.000,4.778 L5.000,0.000 L8.000,0.000 L8.000,4.778 L10.992,4.778 L6.500,9.104 L2.008,4.778 Z')
          a.btn-spec(href='/for-professionals/', data-toggle='modal', data-target='#specialistsModal') &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&acy;&mcy;
        nav.common
          a.logo-item(href='/')
            | prolactin-info
          a.mobile-item__menu-hide(href='/articles/') &scy;&tcy;&acy;&tcy;&softcy;&icy;
          a.mobile-item__menu-hide(href='/articles/men/') &mcy;&ucy;&zhcy;&chcy;&icy;&ncy;&acy;&mcy;
          a.mobile-item__menu-hide(href='/test/')  &tcy;&iecy;&scy;&tcy;
          .col-md-auto.right-nav-data.mobile-item__menu-hide
            a.medical-centers(href='/map/')
              span.medical-centers__desctop
                | &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&scy;&kcy;&icy;&iecy; &tscy;&iecy;&ncy;&tcy;&rcy;&ycy;
              span.medical-centers__mob
                | &mcy;&iecy;&dcy; &tscy;&iecy;&ncy;&tcy;&rcy;&ycy;
          a.medical-pacient__download(href='/upload/Лечение_гиперпролактинемии_на_ДОСТИНЕКС.pdf', download='')
            | &Pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;
            svg.svg-pacient(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13px', height='12px')
              path(fill-rule='evenodd', fill='rgb(107, 179, 111)', d='M-0.000,12.000 L-0.000,11.000 L13.000,11.000 L13.000,12.000 L-0.000,12.000 ZM2.008,4.778 L5.000,4.778 L5.000,0.000 L8.000,0.000 L8.000,4.778 L10.992,4.778 L6.500,9.104 L2.008,4.778 Z')
          a.specialists(href='/for-professionals/', data-toggle='modal', data-target='#specialistsModal') &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&acy;&mcy;
