extends ../template
block title
  | Пролактин | База вебинаров
block content
  .webinarBase
    section.webinarBase-banner-outer
      .webinarBase-banner
        h1.webinarBase-banner__title Как гормон пролактин действует на организм: просто о главном
        p.webinarBase-banner__when Вебинар пройдет 
          time 25.09.20 в 19.20
        p.webinarBase-banner__text Тематика вебинара, несколько слов о предстоящем вебинаре, короткое описание, чтобы заинтересовать пользователя. 1-2 строчки, небольшой текст абзаца. Коротко, но содержательно. Тематика вебинара, несколько слов о предстоящем вебинаре, короткое описание, чтобы заинтересовать пользователя.
        button.webinarBase-banner__btn(data-webinarpopup="") Задать вопрос
    form.webinarBase-filter
      .webinarBase-filter-wrap
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Все статьи" id="").webinarBase-filter-radio__input
          p Все статьи
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Нарушение цикла" id="").webinarBase-filter-radio__input
          p Нарушение цикла
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Лактация" id="").webinarBase-filter-radio__input
          p Лактация
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Пролактин-гормон" id="").webinarBase-filter-radio__input
          p Пролактин-гормон
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Обследования и анализы" id="").webinarBase-filter-radio__input
          p Обследования и анализы
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Мужчинам" id="").webinarBase-filter-radio__input
          p Мужчинам
        label.webinarBase-filter-radio
          input(type="radio" name="webinarBase-filter" value="Беременность" id="").webinarBase-filter-radio__input
          p Беременность
    section.webinarBase-list
      .webinarBase-list-top
        h2.webinarBase-list-top__title Записи вебинаров
        form.webinarBase-list-top-search
          input(type="text").webinarBase-list-top-search__input
          button.webinarBase-list-top-search__btn 
            span Поиск
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M23.55 19.95L17.835 14.205C18.9224 12.6877 19.5049 10.8667 19.5 9C19.5 4.035 15.465 0 10.5 0C5.535 0 1.5 4.035 1.5 9C1.5 13.965 5.535 18 10.5 18C12.45 18 14.22 17.385 15.705 16.335L21.45 22.05C21.735 22.35 22.125 22.5 22.5 22.5C22.875 22.5 23.28 22.365 23.55 22.05C23.6891 21.9112 23.7994 21.7464 23.8746 21.5649C23.9499 21.3835 23.9887 21.189 23.9887 20.9925C23.9887 20.796 23.9499 20.6015 23.8746 20.4201C23.7994 20.2386 23.6891 20.0738 23.55 19.935V19.95ZM10.5 16.05C6.615 16.05 3.45 12.885 3.45 9C3.45 5.115 6.615 1.95 10.5 1.95C14.385 1.95 17.55 5.115 17.55 9C17.55 12.885 14.385 16.05 10.5 16.05Z" fill="white"/>
            </svg>
      .webinarBase-list-grid
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-online
              span.webinarBase-list-grid-item-text В эфире
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-when 25.04.19
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-when 25.04.19
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-when 25.04.19
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-when 25.04.19
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
        a(href="#").webinarBase-list-grid-item
          .webinarBase-list-grid-item-img
            img(src="assets/images/webinarPreview.jpg", alt="")
          .webinarBase-list-grid-item-top
            p.webinarBase-list-grid-item-top__theme Нарушение цикла
            p.webinarBase-list-grid-item-top__status
              span.webinarBase-list-grid-item-when 25.04.19
          .webinarBase-list-grid-item-main
            p.webinarBase-list-grid-item-main__title Как понять, что у вас нарушение менструального цикла
            p.webinarBase-list-grid-item-main__link Посмотреть запись
  form#webinarPopup.webinarPopup
    .webinarPopup-content
      .webinarPopup-content__close
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L15 15M15 2L2 15" stroke="#808080" stroke-width="4"/>
        </svg>
      p.webinarPopup__title Задайте вопрос лектору и получите ответ на предтоящем вебинаре
      p.webinarPopup__subtitle Тема вебинара: Как гормон пролактин действует на организм: просто о главном
      label(for="webinarUserName").webinarPopup__label Ваше имя
      input#webinarUserName(type="text").webinarPopup__input
      label(for="webinarUserMessage").webinarPopup__label Текст сообщения
      textarea#webinarUserMessage(cols="30", rows="10").webinarPopup__textarea
      button(type="submit").webinarPopup__btn Отправить